* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img {
    width: 800px; 
    height: 500px;
    background-image: url(../images/logo.webp);
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: 20px;
}
body {
    height: 1500px;
    background-color: bisque;
    background-clip: initial;
}
.text {
    width: 40%;
    font-size: 40px;
    float: left;
    text-overflow: ellipsis;
    padding: 30px;
}
.photo {
    float: right;
    padding: 50px;
    width: 900px;
}
.photo:hover{cursor: pointer;}
.photo2 {
    float: left;
    margin-right: 20px;
    width: 900px;
}
.photo2:hover{cursor: pointer;}
.text2 {
    float: right;
    font-size: 30px;
    width: 40%;
}

